

<div class="container mt-5">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Your email signature is ready</h1>
    <ul>
        <li><p class="lead">Click the download button to save it in your computer</p></li>
      <li><p>or the edit button to change it</p></li>

    </ul>
    
  </div>
</div>
  {{{page}}}
  <a class="btn btn-success mt-4" href="/download" role="button">download</a>
  <a class="btn btn-primary mt-4" href="/clients/form/{{id}}" role="button">edit</a>
</div>





