
html {
    font-family: Arial;
    font-weight: 400;
    color: #4c4c4c;
    font-size: 14px;
    margin: 0,auto;
}



p {
    margin: 4px 0;
}


.person-data {
    margin-bottom: 26px;
}

.name {
    color: #043144;
    font-size: 18px;
    margin: 0;
}

.name-label {
}

.contact {
    margin-bottom: 15px;
}

.contact-table {
    border-collapse: collapse;
}

.contact-table td, .contact-table td {
    padding: 4px 0;
    padding-right: 25px;
    color: #043144;
}

.contact_link {
    text-decoration: none;
    color: #043144;
}

hr {
    border: 0;
    height: 2px;
    width: 368px;
    background-color: #ffef18;
    margin: 0;
    margin-bottom: 10px;
}

.logo-container {
    margin-bottom: 6px;
}

.logo-table {

}

.logo-lux {

}

.logo-entega {
    margin-top: 29px;
    margin-left: 5px;
}

.address {
    margin: 0;
    padding: 0;
}

.address-label {
    font-size: 10px;
    line-height: 8px;
}